body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vmin;
    background-color: #383838;
    overflow: hidden;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vmin;
    height: 80vmin;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}